<div class="container">
	<div class="panel panel-success">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  		<div class="panel-body">
  			<div class="field">
  				<%= f.email_field :email, :autofocus => true, class: "post-field post-title", placeholder: "email" %>
			</div>

  			<div class="field">
  				<%= f.password_field :password, class: "post-field post-title", placeholder: "password" %>
			</div>

  			<div class="field">
  				<%= f.password_field :password_confirmation, class: "post-field post-title", placeholder: "confirm" %>
			</div>

  			<div>
  				<%= f.submit "Sign up", class: 'btn btn-primary' %>
  			</div>
<% end %>
		</div>
	</div>
</div>
