<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-body col-md-offset-2">
  <div class="field">
    <%= f.text_field :title, placeholder: "your title here", class: "post-field post-title", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'your title here'", :cols => 1000%>
  </div>
  <div class="field">
    <%= f.text_field :sub, placeholder: "your subtitle here", class: "post-field", onfocus: "this.placeholder = ''", onblur: "this.placeholder= 'your subtitle here'", :cols => 100  %>
  </div>
  <div class="field">
    <%= f.text_area :body, placeholder: "your text here", class: "post-field post-body", onfocus: "this.placeholder = ''", onblur: "this.placeholder = 'your text here'", :cols => 100, :rows => 10 %>
  </div>
      <div class="actions navbar-fixed-bottom create-button">
      <%= f.submit "p", class: "btn btn-lg btn-info mover3" %>
    </div>
<% end %>

</div>
